<div class='pt-5'>
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <h3 class='mb-3'>
                <span class="badge badge-logos py-2 px-5 rounded-pill border border-white text-uppercase">
                    <i class="fas fa-car mr-1"></i>
                    Carros
                </span>
            </h3>
            <div class="w-100 bg-logos pb-4 px-4 pt-2 rounded border border-white">
                <form [formGroup]="fmSearch">
                    <div class="row mb-4">
                        <div class="col-6 col-md-4 mt-3">
                            <div class="form-group">
                                <select class="form-control" formControlName="marca" id="marca" placeholder='Marca'>
                                    <option disabled selected>Marca</option>
                                    <option *ngFor="let m of marca" value="{{m.nome}}" class="text-uppercase">{{m.nome}}</option>>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 mt-3">
                            <input type="number" formControlName="de" class="form-control" placeholder="Ano de">
                        </div>
                        <div class="col-12 col-md-4 mt-3">
                            <input type="number" formControlName="ate" class="form-control" placeholder="Ano até">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" formControlName="modelo" class="form-control" placeholder="Modelo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center mt-3">
                <button type='submit' class='btn btn-danger rounded-pill px-5 text-uppercase' (click)='onSearch()'>
                    <i class="fas fa-search mr-1"></i>
                    Buscar Carros
                </button>
            </div>
        </div>
    </div>
</div>


