<h3 class="text-center border-bottom pb-2 mb-4">
  Envie sua proposta
</h3>
<form [formGroup]="fmProposta">
  <!-- <div class="row">
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="text" id="veiculo" class="form-control" formControlName="veiculo" value='{{vei}}' disabled>
        <label for="veiculo" class="disabled">Veículo</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="text" id="valor" class="form-control" formControlName="valor" value='R{{valor | currency}}' disabled>
        <label for="valor" class="disabled">Valor</label>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="text" id="nome" class="form-control" formControlName="nome">
        <label for="nome" class="">Nome completo</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput formControlName="email" type="email" id="email" class="form-control">
        <label for="email" class="">E-mail</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="text" id="cpf" class="form-control" formControlName="cpf">
        <label for="cpf" class="">CPF*</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="text" id="rg" class="form-control" formControlName="rg">
        <label for="rg" class="">RG</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="tel" id="telefone" class="form-control" formControlName="telefone">
        <label for="telefone" class="">Telefone*</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <input mdbInput type="tel" id="celular" class="form-control" formControlName="celular">
        <label for="celular" class="">Celular</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" [disabled]='!fmProposta.valid' class="btn btn-logos " (click)='onSubmit()'>
        <h6 class="mt-1 bold px-5">Enviar Proposta</h6>
      </button>
    </div>
  </div>
</form>