<h3 class="text-center border-bottom pb-2 mb-4">
  Dados Opcionais
</h3>
<div class="row"  *ngFor="let o of opcion">
  <div class="col-md-4 col-6" *ngIf="o.arCondicionado == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Ar Condicionado</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.arBag == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Ar Bag</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.direcaoHidraulica == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Direção Hidráulica</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.travasEletricas == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Travas Elétricas</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.brakeLight == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Brake Light</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.vidrosEletricos == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Vidros Elétricos</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.limpadorTraseiro == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Limpador Traseiro</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.freioABS == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Freio ABS</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.radio == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Radio</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.dvdPlayer == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>DVD Player</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.vidrosTraseirosEletricos == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Vidros Traseiros Elétricos</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.espelhosRetrovisoresTraseiros == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Espelhos Retrovisores Traseiros</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.bancosEnCouro == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Bancos en Couro</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.vidrosEletricos == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Altos Falantes</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.gps == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>GPS</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.alarme == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Alarme</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.protetorDeCacamba == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Protetor De Caçamba</p>
  </div>
  <div class="col-md-4 col-6" *ngIf="o.sensorEstaciomamentoTraseiro == 1">
    <p><i class="far fa-check-circle text-info mr-2"></i>Sensor Estaciomamento Traseiro</p>
  </div>

</div>