<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
  size = "default" color = "#fff"
  type = "ball-running-dots" fullScreen = "true"
>
  <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<div class="banner text-center">
	<app-search></app-search>
</div>
<section id="novas" class="py-4">
	<div class="container">
		<h2 class="border-bottom my-4 b-5 text-logos">Últimos Veículos</h2>
		<app-ofertas [oferta]='2' [limit]='8'></app-ofertas>
	</div>
</section>
<app-banner></app-banner>
<section id="texto">
	<div class="container py-5 border-top border-bottom">
		<div class="row justify-content-center">
			<div class="col-12 col-md-9 col-ld-7">
				<h2 class="text-center text-logos bold mb-4">
					Logos Veículos
				</h2>
				<p class="text-center text-logos mb-0">
					Comercializamos veículos novos e seminovos, importados e nacionais, todos revisados e com garantia. Desenvolvemos nossos trabalhos focados em satisfazer as necessidades dos clientes. Venha, faça-nos uma visita e comprove a qualidade de nossos veículos. Temos uma excelente e moderna instalação, para proporcionar o que há de melhor em conforto para você e sua família.
				</p>
			</div>
		</div>
	</div>
</section>
<section id="novas" class="py-4 grey lighten-5">
	<div class="container">
		<h2 class="border-bottom my-4 b-5 text-logos">Ofertas Imperdivel</h2>
		<app-ofertas [oferta]='3' [limit]='4'></app-ofertas>
	</div>
</section>
<app-dicas></app-dicas>
<app-newsletter></app-newsletter>
