<div class="row">
    <div class="col-md-3 col-xs-12 mb-4" *ngFor="let item of carros">
        <div class="card">
            <a routerLink="/veiculo/{{item.id}}" mdbWavesEffect>
                <app-imagen [carroId]='item.id' (img)="url($event)"></app-imagen>
            </a>
            <div class="card-body">
                <p class="f-08 b-5 border-bottom text-uppercase mb-1 pl-2">
                    {{item.marcaCarro}} {{item.modeloCarro}}
                </p>
                <p class="f-14 b-6 text-logos text-center border-bottom mb-1">R$.{{item.valor}},00</p>
                <div class="text-center">
                    <a routerLink="/veiculo/{{item.id}}" class="btn btn-logos btn-sm btn-block waves-light" mdbWavesEffect>
                        Fazer Proposta
                    </a>
                    <!-- <a routerLink="/{{item.link}}" class="btn btn-dark btn-sm waves-light" mdbWavesEffect>
                        Simulador
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
