<section id="newletter" class="mt-4 py-5 bg-logos-blue">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h3 class="text-center text-white bold">
                    Assine nossa Newsletter e não perca nenhuma novidade
                </h3>
                <form [formGroup]="fmNews">
                    <div class="input-group mt-3">
                        <input class="form-control form-control" type="email" placeholder="E-mail" formControlName="email">
                        <div class="input-group-append">
                            <button 
                                class="btn btn-danger px-5" type="button" 
                                (click)='onNews()' 
                                [disabled]='!fmNews.valid'>
                            ASSINAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>