<section id='dicas' class='py-5'>
    <div class="container box-blog">
        <h2 class="text-center text-logos bold">Dicas</h2>
        <p class="box-ttl4 text-center mb-5"></p>
        <div class="row">
            <div id="blog">
                <div class="col-md-6 mb-5 float-left" *ngFor="let d of dicas">
                    <img src="{{d.image_url}}" class="img-fluid">
                    <h3 class="my-3">{{d.title.rendered}}</h3>
                    <p class="" [innerHtml]='d.excerpt.rendered'></p>
                    <a href="{{d.link}}" class="btn btn-outline-secondary" target="_blank">Leia Mais</a>
                </div>
            </div>
        </div>
    </div>
</section>