<div class="w-100">
  <div class="bg-logos px-2 py-4 rounded-top">
    <h3 class='text-center text-white text-uppercase'>Envie sua Proposta</h3>
  </div>
  <div class="bg-light px-3 py-4 rounded-bottom">
    <p class="f-08 mb-0">a vista:</p>
    <h3 class='text-center bold text-logos mb-2'>
      R{{sim.valor | currency}}
    </h3>
    <form [formGroup]="fmProposta">
      <input class="form-control form-control-sm mb-2" type="text" placeholder="Nome completo" formControlName="nome" required>
      <input class="form-control form-control-sm mb-2" type="email" placeholder="E-mail" formControlName="email">
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" value="" id="financiar" formControlName="financiamento">
        <label class="form-check-label f-08" for="financiar">
            Quero financiar
        </label>
      </div>
      <input class="form-control form-control-sm mb-2" type="tel" placeholder="DDD + Telefone" formControlName="telefone" required>
      <input class="form-control form-control-sm mb-2" type="text" placeholder="CPF" formControlName="cpf" required>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="ofertas" formControlName="ofertas">
        <label class="form-check-label f-08" for="ofertas">
            Desejo receber ofertas por e-mail
        </label>
      </div>
      <button type="button" name="" id="" class="btn btn-logos btn-lg btn-block" (click)='onSubmit()' [disabled]='!fmProposta.valid'>
        <span class="f-12 text-uppercase text-grey bold">
            ENVIAR
        </span>
      </button>
    </form>
  </div>
</div>