<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
  size = "default" color = "#fff"
  type = "ball-running-dots" fullScreen = "true"
>
  <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<section id="estoque" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <section class="mb-3">
          <p class="border-bottom text-uppercase f-09 pl-4 b-6">Marca</p>
          <select class="browser-default custom-select" [(ngModel)]="marca">
            <option selected disabled>Selecionar</option>
            <option *ngFor="let m of marcas" value="{{m.nome}}" class="text-uppercase">{{m.nome}}</option>
          </select>
        </section>
        <section class="mb-3">
          <p class="border-bottom text-uppercase f-09 pl-4 b-6">Transmissão</p>
          <select class="browser-default custom-select" [(ngModel)]="transmissao">
            <option selected disabled>Selecione</option>
            <option value="manual">Manual</option>
            <option value="automatico">Automatico</option>
          </select>
        </section>
        <section class="mb-3">
          <p class="border-bottom text-uppercase pl-4 f-09 b-6">Combustivel</p>
          <select class="browser-default custom-select" id="combustivel" [(ngModel)]="combustivel">
            <option selected disabled>Selecionar</option>
            <option value="flex">Flex</option>
            <option value="gasolina">Gasolina</option>
            <option value="diesel">Diesel</option>
          </select>
        </section>
        <section class="mb-3">
          <p class="border-bottom text-uppercase pl-4 f-09 b-6">portas</p>
          <select class="browser-default custom-select" id="combustivel" [(ngModel)]="portas">
            <option selected disabled>Selecionar</option>
            <option value="2">2 portas</option>
            <option value="3">3 portas</option>
            <option value="4">4 portas</option>
          </select>
        </section>
        <section class="mb-3">
          <p class="border-bottom text-uppercase f-09 b-6 pl-4">Ano</p>
          <select class="browser-default custom-select" id="combustivel" [(ngModel)]="ano">
            <option selected disabled>Selecionar</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
        </section>
        <section class="mb-3">
          <button type="button" mdbBtn color="logos" outline='true' class='btn-block' mdbWavesEffect (click)='getOfertas()'>Pesquisa</button>
        </section>
      </div>
      <div class="col-md-9">
        <div class="pt-4 mb-4 border-bottom">
            CLASSIFICAR POR:
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12 mb-4" *ngFor="let item of carros">
            <div class="card">
              <app-imagen [carroId]='item.id' (img)="url($event)"></app-imagen>
              <div class="card-body">
                <p class="f-08 b-5 border-bottom text-uppercase mb-1">
                    {{item.marcaCarro}} {{item.modeloCarro}}
                </p>
                <p class="f-14 b-6 text-logos text-center border-bottom mb-1">R$.{{item.valor}},00</p>
                <div class="text-center">
                  <a routerLink="/veiculo/{{item.id}}" class="btn btn-logos btn-sm btn-block waves-light" mdbWavesEffect>
                      Fazer Proposta
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>