<ngx-spinner bdOpacity = 0.9 bdColor = "#333"
    size = "default" color = "#fff"
    type = "ball-running-dots" fullScreen = "true"
>
    <p style="color: white" > Carregando Bibliotecas... </p>
</ngx-spinner>
<section id="detalhes" class='py-5'>
  <div class="container">
    <div class="row" *ngFor="let i of car">
      <div class="col-md-9">
        <h2 class="text-center border-bottom pb-2 text-uppercase bold">
          {{i.marcaCarro}} {{i.modeloCarro}}
        </h2>
        <div class="row">
          <div class="col-md-8 mt-4">
            <app-carousel [carro]='i.id'></app-carousel>
          </div>
          <div class="col-md-4 mt-4">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/location-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Estado: {{estado}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/location-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Cidade: {{cidade}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/cor-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Cor: {{i.cor}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/year-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Ano: {{i.ano}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/kilometragem-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Kilometragem: {{i.kilometragem}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/conbustivel-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Comb.: {{i.combustivel}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/cambios-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Cambios: {{i.transmissao}}</span>
                  </li>
                  <li class="list-group-item py-1">
                      <img src="./assets/icons/portas-18x18.png" class='img-fluid mr-3' alt="">
                      <span class='align-middle f-09'>Portas: {{i.portas}}</span>
                  </li>
              </ul>
          </div>
        </div>
        <div class="row py-5">
          <div class="col-md-12">
            <app-opcion [carro]='i.id'></app-opcion>
          </div>
          <div class="col-md-12 pt-5">
            <h3 class="text-center border-bottom pb-2 mb-4">
              Descrição
            </h3>
            <p>{{ i.descricao}}</p>
          </div>
          <!-- <div class="col-md-12">
            <app-proposta [carro]='i.id'></app-proposta>
          </div> -->
        </div>
      </div>
      <div class="col-md-3">
        <app-simula [carro]='i.id'></app-simula>
      </div>
    </div>
  </div>
</section>