/* You can add global styles to this file, and also import other style files */
.bg-logos { background: #2E305B; }
.bg-logos-blue { background: #1565C0; }
.badge-logos {
    color: #fff;
    background-color: #2E305B;
}

.btn-logos {
    color: #fff !important;
    background-color: #2E305B !important;
    border-color: #2E305B !important;
}

.btn-logos:hover {
    color: #fff !important;
    background-color: rgb(35, 37, 70) !important;
    border-color: rgb(35, 37, 70) !important;
}

.btn-outline-logos {
    border: 2px solid #2E305B !important;
    background-color: transparent !important;
    color: #2E305B !important;
}


/** Text y font*/
.text-logos {color: #044C5D; }
.bold { font-weight: bold; }
.b-7 { font-weight: 700; }
.b-6 { font-weight: 600; }
.b-5 { font-weight: 500; }
.b-4 { font-weight: 400; }


/** Tamanho do fonte */
.f-07 { font-size: .7rem; }
.f-08 { font-size: .8rem; }
.f-09 { font-size: .9rem; }
.f-12 { font-size: 1.2rem; }
.f-14 { font-size: 1.4rem; }

/** Header */
.banner {
    background: url('./assets/images/fundo.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
}


/** Footer */
#footer a { color: #fff; }
#footer a:hover { color: #bdbdbd; text-decoration: none; }

/** Carousel */
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 70px !important;
    height: 70px !important;
}