<header id='header' class='	d-none d-lg-block'>
    <div class="py-4 bg-logos">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-1">
                    <button type="button" mdbBtn color="link" (click)="onOpen()" [ngStyle]="{'display': bdisplay}">
                            <mdb-icon fas icon="{{icon}}" size="2x" class="text-white"></mdb-icon>
                    </button>
                    <button type="button" mdbBtn color="link" (click)="onClose()" [ngStyle]="{'display': cdisplay}">
                            <mdb-icon fas icon="{{icon}}" size="2x" class="text-white"></mdb-icon>
                    </button>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline text-white mt-3">
                        <li class="list-inline-item f-08">
                            <i class="fas fa-phone-square mr-0"></i>
                            (92) 2121.0000
                        </li>
                        <li class="list-inline-item f-08">
                            <i class="fas fa-mobile-alt mr-0"></i>
                            (92) 99177.8513
                        </li>
                        <!-- <li class="list-inline-item f-08">
                            <i class="fab fa-whatsapp mr-0"></i>
                            (92) 99177.8513
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-2">
                    <a [routerLink]="['/home']" class="brand">
                        <img src="./assets/images/logo.png" alt="" height='50px'>
                    </a>
                </div>
                <div class="col-md-5 text-right">
                    <ul class="list-inline text-white mt-2 mb-1">
                        <li class="list-inline-item f-08">
                                <i class="fab fa-whatsapp mr-0"></i>
                                (92) 99177.8513
                        <!-- <div class="input-group mb-1">
                            <input type="text" class="form-control" placeholder="Digite sua busca aqui..." aria-label="Digite sua busca aqui..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-light" type="button" id="button-addon2">Pesquisar</button>
                            </div>
                        </div> -->
                        </li>
                        <li class="list-inline-item f-14">
                            <a href="#">
                                <i class="fab fa-facebook-f fa-inverse mt-1"></i>
                            </a>
                        </li>
                        <li class="list-inline-item f-14">
                            <a href="#">
                                <i class="fab fa-instagram fa-inverse mt-1"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100" 
        *ngIf="!flag">
        <div class="bg-logos-blue">
            <nav class="navbar navbar-expand-lg bg-logos-blue animated"
            [ngClass]="!flag ? 'fadeIn' : 'fadeOut'">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto text-uppercase">
                        <li class="nav-item" routerLinkActive="active" >
                            <a class="nav-link text-white bold" [routerLink]="['/home']">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white bold" [routerLink]="['/estoque']">Estoque</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white bold" href="https://compranalogos.com.br/dicas" target="_blank">blog</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white bold" [routerLink]="['/fale-conosco']">Fale conosco</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<header id="header-mobile" class="d-md-block d-lg-none">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-logos">
        <mdb-navbar-brand>
            <a [routerLink]="['/home']" class="navbar-brand">
                <img src="./assets/images/logo.png" alt="" height='50px'>
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active" >
                    <a class="nav-link text-white bold" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white bold" [routerLink]="['/estoque']">Estoque</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white bold" href="https://compranalogos.com.br/dicas" target="_blank">Blog</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-white bold" [routerLink]="['/fale-conosco']">Fale conosco</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>